@model LVSA.Global.Presentation.ViewModels.PessoaFisicaComplementoAppViewModel

@{
    ViewBag.Title = "Pessoa";
    ViewBag.Description = "Editar complemento";
}


@using (Html.BeginForm("Edit", "PessoaComplemento", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.PessoaId)

        <div class="form-group">
            @Html.LabelFor(model => Model.UsuarioId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.UsuarioId, new SelectList(ViewBag.UsuarioSet, "Id", "Nome", Model.UsuarioId), "Selecione", htmlAttributes: new { @class = "chosen-select form-control" })
                @Html.ValidationMessageFor(model => Model.UsuarioId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.File, htmlAttributes: new { @class = "", @type = "file" })
                @Html.ValidationMessageFor(model => model.File)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Facebook, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Facebook, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Facebook)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Twitter, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Twitter, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Twitter)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Instagram, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Instagram, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Instagram)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GooglePlus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GooglePlus, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GooglePlus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.RacaCorId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.RacaCorId, new SelectList(ViewBag.RacaCorSet, "Id", "Nome", Model.RacaCorId), "Selecione", htmlAttributes: new { @class = "chosen-select form-control" })
                @Html.ValidationMessageFor(model => Model.RacaCorId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.CidadeNaturalidadeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.CidadeNaturalidadeId, new SelectList(ViewBag.CidadeSet, "Id", "Nome", Model.CidadeNaturalidadeId), "Selecione", htmlAttributes: new { @class = "chosen-select form-control" })
                @Html.ValidationMessageFor(model => Model.CidadeNaturalidadeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Telefone1, htmlAttributes: new { @class = "form-control", @data_mask = "$(99) 99999999?9" })
                @Html.ValidationMessageFor(model => model.Telefone1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Telefone2, htmlAttributes: new { @class = "form-control", @data_mask = "$(99) 99999999?9" })
                @Html.ValidationMessageFor(model => model.Telefone2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.EscolaridadeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.EscolaridadeId, new SelectList(ViewBag.EscolaridadeSet, "Id", "Nome", Model.EscolaridadeId), "Selecione", htmlAttributes: new { @class = "chosen-select form-control" })
                @Html.ValidationMessageFor(model => Model.EscolaridadeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.TitulacaoId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.TitulacaoId, new SelectList(ViewBag.TitulacaoSet, "Id", "Nome", Model.TitulacaoId), "Selecione", htmlAttributes: new { @class = "chosen-select form-control" })
                @Html.ValidationMessageFor(model => Model.TitulacaoId)
            </div>
        </div>

        <div class="form-actions no-color">
            <div>
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button> |
                <a href="~/PessoaComplemento/Details/@Model.PessoaId" class="btn btn-default"><i class="fa fa-arrow-left"></i> Voltar para detalhes</a>

            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
