@model LVSA.Housing.Application.ViewModels.ReuniaoViewModel

@{
    ViewBag.Title = Model.Assunto;
    ViewBag.Description = "Presentes na reunião";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="control-label col-md-2">Ata/Considerações/Decisões sobre a reunião</label>
            <div class="col-md-10">

                @Html.Hidden("AtaCliente","", new { @id = "Texto", @class = "col-md-12" })

                <div class="wysiwyg-editor textarea-editor" id="editor">@(new HtmlString(Model != null ? Model.Ata : ""))</div>
                @Html.ValidationMessageFor(model => model.Ata, "", new { @class = "text-danger" }) 
            </div>
        </div>
        

        <div class="form-actions no-color">
            <div>
                <button type="submit" class="btn btn-primary" title="Salvar">Salvar <i class="glyphicon glyphicon-floppy-disk"></i></button> |
                <a href="@Url.Action("Index")" class="btn btn-default" title="Voltar para lista">Voltar para lista <i class="glyphicon glyphicon-arrow-left"></i></a>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $(function () {

            $('#editor').bind("DOMSubtreeModified", function () {
                $('#Texto').val($('#editor').html());
            });
        });
    </script>
}