@model LVSA.Farm.Application.ViewModels.PastoViewModel

@{
    ViewBag.Title = "Pasto";
    ViewBag.Description = "Novo pasto";
}


@using (Html.BeginForm("Create", "Pasto", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.M2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.M2, new { @class = "form-control maskmoney" })
                @Html.ValidationMessageFor(model => model.M2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Largura, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Largura, new { @class = "form-control maskmoney" })
                @Html.ValidationMessageFor(model => model.Largura, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comprimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Comprimento, new { @class = "form-control maskmoney" })
                @Html.ValidationMessageFor(model => model.Comprimento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ativo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(model => model.Ativo, true, htmlAttributes: new { @class = "ace" })
                        <span class="lbl"> Sim</span>
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(model => model.Ativo, false, htmlAttributes: new { @class = "ace" })
                        <span class="lbl"> Não</span>
                    </label>
                </div><br />
                @Html.ValidationMessageFor(model => model.Ativo)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2"></label>
            <div class="col-md-9 files">
                <input type="file" name="FileSet[0]" class="Imagem" />
            </div>
            <div class="col-md-1">
                <a id="add-imagem" href="javascript:void(0);" class="btn btn-sm btn-white btn-success"><i class="fa fa-plus"></i></a>
                <a id="remove-imagem" href="javascript:void(0);" class="btn btn-sm btn-white btn-danger "><i class="fa fa-minus"></i></a>
            </div>
        </div>

        <div class="form-actions no-color">
            <div>
                <button type="submit" class="btn btn-primary" title="Salvar">Salvar <i class="glyphicon glyphicon-floppy-disk"></i></button> |
                <a href="@Url.Action("Index")" class="btn btn-default" title="Voltar para lista">Voltar para lista <i class="glyphicon glyphicon-arrow-left"></i></a>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $(function () {

            $('#add-imagem').click(function () {
                $('.Imagem:last').parents('div.files').append('<input type="file" name="FileSet[' + $('.Imagem').length + ']" class="Imagem" />');
                LVSA.CDN.Plugins.File();
            });


            $('#remove-imagem').click(function () {
                if ($('.Imagem').length > 1)
                    $('.Imagem:last').parents('label.ace-file-input').remove();
            });
        });
    </script>
}