@model LVSA.Report.Application.ViewModels.CuboViewModel

@{
    ViewBag.Title = "Instrução";
    ViewBag.Description = "Remover instrução";
}

<h4 class="red">Atenção!</h4>
<h5>Deseja realmente remover esta instrução?</h5>
<hr />
<div>
    <div class="row">
        <div class="col-md-6">
            <textarea id="view-sql">@Model.Consulta.TSQL</textarea>
        </div>
        <div class="col-md-6">
            <textarea id="view-csharp">@Model.Instrucao.Code</textarea>
        </div>
    </div>

    <br />
    <br />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaCuboId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaCubo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>

        <dd>
            <i class="@Model.Icon"></i>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @(Model.Ativo ? "Sim" : "Não")
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div>
                <button type="submit" class="btn btn-danger" title="Deletar">Deletar <i class="fa fa-trash-o"></i></button> |
                <a href="@Url.Action("Index")" class="btn btn-default" title="Voltar para lista">Voltar para lista <i class="glyphicon glyphicon-arrow-left"></i></a>
            </div>
        </div>
    }
</div>

@section styles {
    <link href="~/Content/CodeMirror/css/codemirror.css" rel="stylesheet" />
    <link href="~/Content/CodeMirror/css/fullscreen.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Content/CodeMirror/js/codemirror.js"></script>
    <script src="~/Content/CodeMirror/js/fullscreen.js"></script>
    <script src="~/Content/CodeMirror/js/clike.js"></script>
    <script src="~/Content/CodeMirror/js/sql.js"></script>
    <script>

        if ($("#view-csharp").length) {
            var view = CodeMirror.fromTextArea(document.getElementById("view-csharp"), {
                mode: 'text/x-csharp',
                lineNumbers: true,
                readOnly: true,
                extraKeys: {
                    "F11": function (cm) {
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                    },
                    "Esc": function (cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                    }
                }
            });
        }

        if ($("#view-sql").length) {
            var view = CodeMirror.fromTextArea(document.getElementById("view-sql"), {
                mode: 'text/x-sql',
                lineNumbers: true,
                readOnly: true,
                extraKeys: {
                    "F11": function (cm) {
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                    },
                    "Esc": function (cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                    }
                }
            });
        }

    </script>
}