@model LVSA.Report.Application.ViewModels.CuboViewModel

@{
    ViewBag.Title = "Cubo";
    ViewBag.Description = "Editar cubo";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ConsultaId)
        @Html.HiddenFor(model => model.Consulta.Id)
        @Html.HiddenFor(model => model.Instrucao.Id)
        @Html.HiddenFor(model => model.InstrucaoId)

        <div class="form-group">
            @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoriaCuboId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.CategoriaCuboId, new SelectList(ViewBag.CategoriaCuboSet, "Id", "Nome", (object)Model.CategoriaCuboId), "Selecione", htmlAttributes: new { @class = "form-control chosen-select" })
                @Html.ValidationMessageFor(model => Model.CategoriaCuboId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descricao, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Icon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Icon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Icon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ativo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(model => model.Ativo, true, htmlAttributes: new { @class = "ace" })
                        <span class="lbl"> Sim</span>
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(model => model.Ativo, false, htmlAttributes: new { @class = "ace" })
                        <span class="lbl"> Não</span>
                    </label>
                </div>
                <br />
                @Html.ValidationMessageFor(model => model.Ativo)
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-6">

                <textarea id="view-sql">@Model.Consulta.TSQL</textarea>


                <span class="help-block">Pressione F11 para fullscreen</span>
            </div>
            <div class="col-md-6">

                <textarea id="view-csharp">@Model.Instrucao.Code</textarea>
                <span class="help-block">Pressione F11 para fullscreen</span>
            </div>
        </div>

        <br />




        <div class="form-actions no-color">
            <div>
                <button type="submit" class="btn btn-primary" title="Salvar">Salvar <i class="glyphicon glyphicon-floppy-disk"></i></button> |
                <a href="@Url.Action("Index")" class="btn btn-default" title="Voltar para lista">Voltar para lista <i class="glyphicon glyphicon-arrow-left"></i></a>
            </div>
        </div>
    </div>
}

@section styles {
    <link href="~/Content/CodeMirror/css/codemirror.css" rel="stylesheet" />
    <link href="~/Content/CodeMirror/css/fullscreen.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Content/CodeMirror/js/codemirror.js"></script>
    <script src="~/Content/CodeMirror/js/fullscreen.js"></script>
    <script src="~/Content/CodeMirror/js/clike.js"></script>
    <script src="~/Content/CodeMirror/js/sql.js"></script>
    <script>

        if ($("#view-csharp").length) {
            var view = CodeMirror.fromTextArea(document.getElementById("view-csharp"), {
                mode: 'text/x-csharp',
                lineNumbers: true,
                readOnly: true,
                extraKeys: {
                    "F11": function (cm) {
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                    },
                    "Esc": function (cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                    }
                }
            });
        }

        if ($("#view-sql").length) {
            var view = CodeMirror.fromTextArea(document.getElementById("view-sql"), {
                mode: 'text/x-sql',
                lineNumbers: true,
                readOnly: true,
                extraKeys: {
                    "F11": function (cm) {
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                    },
                    "Esc": function (cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                    }
                }
            });
        }

    </script>
}