@model IEnumerable<LVSA.Noticia.Application.ViewModels.NoticiaViewModel>
@{
    string serverCDN = System.Web.Configuration.WebConfigurationManager.AppSettings["Address_LVSA.CDN.Presentation"];

    LVSA.Security.Application.Models.Seguranca Seguranca = ((LVSA.Security.Application.Models.Seguranca)TempData["Seguranca"]);
}

@if (Model != null)
{

    <li class="transparent">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="ace-icon fa fa-envelope @(Model.Where(w => !w.UsuarioIdSet.Contains(Seguranca.Usuario.Id)).Count() > 0 ? "icon-animated-vertical" : "")  "></i>
            @if (Model.Where(w => !w.UsuarioIdSet.Contains(Seguranca.Usuario.Id)).Count() > 0)
            {
                <span class="badge badge-success">@(Model.Where(w => !w.UsuarioIdSet.Contains(Seguranca.Usuario.Id)).Count())</span>
            }
        </a>

        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
            @if (Model.Count() > 0)
            {
                <li class="dropdown-header">
                    <i class="ace-icon fa fa-envelope-o"></i>
                    @(Model.Count()) notícia@(Model.Count() > 1 ? "s" : "")
                </li>

                <li class="dropdown-content">
                    <ul class="dropdown-menu dropdown-navbar">

                        @foreach (var x in Model.OrderByDescending(o => o.PublicadoEm).Take(5))
                        {
                            <li>
                                <a href="@Url.Action("Visualizar", "Noticia", new { id = x.Id })" class="clearfix">
                                    @if (x.ImagemSet == null || x.ImagemSet.Count() == 0)
                                    {
                                        <img src="@(serverCDN)Content/Images/logo_ubec_cinza.png" class="msg-photo" alt="@x.Autor" />
                                    }
                                    else
                                    {
                                        <img src="data:image;base64,@System.Convert.ToBase64String(x.ImagemSet.First().Valor)" style="width:45px;height:45px;" class="msg-photo" alt="@x.Autor" />
                                    }
                                    <span class="msg-body">
                                        <span class="msg-title">
                                            <span class="blue">@x.Autor:</span>
                                            <b>@(x.Titulo.Length > 55 ? x.Titulo.Substring(0, 55) + "..." : x.Titulo)</b>
                                        </span>

                                        <span class="msg-time">
                                            <span>@x.PublicadoEm</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        }

                    </ul>
                </li>

                <li class="dropdown-footer">
                    <a href="@Url.Action("Show","Noticia")">
                        Ver todas notícias
                    </a>
                </li>
            }
            else
            {
                <li class="dropdown-footer">
                    <a href="javascript:void(0);">
                        Ops! Ainda não há notícias
                    </a>
                </li>
            }

        </ul>
    </li>

}
