@model LVSA.Security.Application.ViewModels.FilialViewModel

@{
    ViewBag.Title = "Filial";
    ViewBag.Title = "Visualizar filial";
}


<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColigadaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColigadaId)
        </dd>

    </dl>
</div>
<div class="form-actions no-color">
    <div>
        <a href="@Url.Action("Edit", new { id = Model.Id})" class="btn btn-warning" title="Editar">Editar <i class="fa fa-edit"></i></a> |
        <a href="@Url.Action("Index")" class="btn btn-default" title="Voltar para lista">Voltar para lista <i class="glyphicon glyphicon-arrow-left"></i></a>
    </div>
</div>