@model LVSA.Housing.Presentation.ViewModels.CustoMoradiaAppViewModel

@{
    ViewBag.Title = "Contas";
    ViewBag.Description = "Pesquisa de contas";
}


@using (Html.BeginForm("Index", "MeuCusto", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Status</label>
                    <div class="col-md-9">

                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(model => model.FiltroPago, true, htmlAttributes: new { @id = "optionsradio-true", @class = "ace" })
                                <span class="lbl"> Pago</span>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(model => model.FiltroPago, false, htmlAttributes: new { @id = "optionsradio-false", @class = "ace" })
                                <span class="lbl"> Não pago</span>
                            </label>
                        </div><br />
                        @Html.ValidationMessageFor(model => model.FiltroPago)
                    </div>
                </div>
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.DataFiltroInicio, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.DataFiltroInicio, htmlAttributes: new { @class = "form-control datepicker-date", @data_mask = "$99/99/9999" })


                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.DataFiltroFinal, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.DataFiltroFinal, htmlAttributes: new { @class = "form-control datepicker-date", @data_mask = "$99/99/9999" })
                </div>
            </div>



        </div>
        <div class="form-actions no-color">
            <div>

                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button> |
                <a href="@Url.Action("Index")" class="btn btn-warning"><i class="fa fa-eraser"></i> Limpar</a>
            </div>
        </div>

    </div>


}


@if (Model.CustoMoradiaSet != null)
{
    <div class="pull-left">
        @*<a href="@Url.Action("Create")" class="btn btn-white btn-success btn-bold" title="Novo">Novo <i class="fa fa-plus"></i></a>*@
    </div>

    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
    </div>

    <div class="table-header">
        Resultados para multas/advertências
    </div>

    <table class="table table-hover datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataReferencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataVencimento)
                </th>
                <th class="text-right hidden-print"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustoMoradiaSet)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @item.DataReferencia.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @(item.DataVencimento != null ? item.DataVencimento.Value.ToString("dd/MM/yyyy") : null)
                    </td>
                    <td class="text-right hidden-print">
                        <div class="">
                            @if (item.DataPagamento != null)
                            {
                                <a class="btn btn-link red" href="~/MeuCusto/Comprovante/@item.Id" title="Comprovante">
                                    <i class="icon fa fa-file-pdf-o"></i>
                                </a>
                                <a class="btn btn-link" href="javascript:void(0);" title="Baixado em @item.DataPagamento.Value.ToString("dd/MM/yyyy")">
                                    <i class="fa fa-check green"></i>
                                </a>
                            }
                            else
                            {
                                <a href="javascript:void(0);" title="Custo ainda não baixado">
                                    <i class="fa fa-warning red"></i>
                                </a>
                            }
                            <a class="btn btn-link blue" href="~/MeuCusto/Details/@item.Id" title="Visualizar">
                                <i class="icon fa fa-search-plus"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}